@use '../../../styles/variables' as v;

.header {
  background-color: v.$color;
  text-align: center;
  color: v.$color-light;
  height: 7rem;
  width: 100%;
  padding: 1.5rem;
  position: relative;
}
