@use '../../../styles/variables' as v;

.result {
  background-color: v.$color-light;
  color: v.$color;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  &-value {
    font-size: 3rem;
    font-weight: 700;
  }
  &-currency {
    font-size: 1.6rem;
    font-weight: 300;
  }
}
